@media (min-width: 0px) {
  .appBarDimension {
    min-height: 48px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 600px) {
  .appBarDimension {
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.appBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1976d2;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  position: fixed;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
}
.appName {
  align-items: center;
  width: fit-content;
  height: 100%;
}
