@mixin flexContainer($width) {
    flex-grow: 0;
    flex-direction: $width;
    max-width: $width;
    box-sizing: border-box;
}
@mixin flexColumn() {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

@media (min-width: 0px) {
    .FlexContainer {
        @include flexContainer(100%);
        padding-left: 16px;
    }
    .ListWrapper {
        @include flexColumn();
        margin-left: -40px;
    }
}
@media (min-width: 600px) {
    .FlexContainer {
        @include flexContainer(33.33%);
    }
    .ListWrapper {
        @include flexColumn();
        margin: 0;
    }
}